<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <!-- Databinding Title-->
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="custom-bg">
  <ion-header collapse="condense">
  </ion-header>

  <h2 style = "text-align: center;">Welcome {{name}}</h2>
  
  <div style = "text-align: center;">
    <br><br><br>

    <!-- Button calling functions in .ts to open other pages
    -->

    <ion-button (click)="openPageTwo()"> The News </ion-button>
    <br><br>
    <ion-button (click)="openSettings()"> Settings </ion-button>

  </div>
  
</ion-content>
